<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:href="@{/js/jquery.js}"></script>
</head>
<body>
<table class="table table-bordered">
    <tr>
        <th>id</th>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>나이</th>
        <th>전화번호</th>
        <th>상세조회</th>
        <th>삭제</th>
        <th>상세조회(ajax)</th>
    </tr>
    <tr th:each="member: ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberPassword}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberAge}"></td>
        <td th:text="${member.memberPhone}"></td>
        <td><a th:href="@{|/member/${member.id}|}">조회</a></td>
        <td><a th:href="@{|/member/delete/${member.id}|}"></a>삭제</td>
    </tr>
</table>
</body>
</html>